<%=  stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>

<% if logged_in? %>
<main class="main">
<%= render 'lessons/aside' %>
  <section class="twitter allign2">
    <% @users.each do |user|  %>
      <p class="p">Author:</p>
      <p class="author"><%= user.name %></p>
      <p class="p">Number of lessons created:</p> 
      <p class="author"><%= user.lessons.count %></p>
    <% end %> 
  </section>
</main>
<% end %>


