<h4><em><%= link_to "Sign Up", new_user_path %><em></h4>
<h4><em><%= link_to "Log In", signin_path %><em></h4>

<div class="home-video-wrapper">
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <h1 class="home"> Welcome to Learn_Fullstack.app</h1>
</div>
