/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .home_video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -2;
   }
   .home-video-wrapper {
   height: 100vh;
   display: flex;
   }
   h1.home {
     color: white;
   }

   @import "bootstrap";

/* S T R U C T U R E */

body {
  font-family: "Lato", arial;
  font-size: 14px;
  background-color: #fff;
}

/* L O G I N */


#action-container {
  padding-top: 10em;
  opacity: 0.7;
}

#action-container2 {
  padding-top: 10em;
  opacity: 0.7;
}

.action {
  text-align: center;
  max-width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  padding-right: 33px;

  border-radius: 5px;
  margin: auto;
}
.cta-section {
  text-align: center;
  margin-top: 10px;
}

.boost-btn.btn-primary.btn-sm,
.boost-btn.btn-primary.btn-sm:active {
  background-color: #5ce1e6;
  border-color: #5ce1e6;
}

.boost-btn.btn-primary.btn-sm:hover {
  background-color: #85f1f5;
  border-color: #85f1f5;
  text-decoration: none;
}

#user_name {
  width: 85%;
}

#user_password {
  width: 85%;
}

/* S I G N U P */
.new_user input {
  width: 85%;
}





